*{
    margin : 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    height:100%;
    display:inline;
    text-align: left;
    background-color: black;
    
}

.canvasborder{
    border: 0.5rem ridge grey;
    width:min-content;
    height: min-content;
    background-color: white;

}

.all{
margin: 1rem;
display: flex;
flex-flow:column;
}

.pause{
z-index: 1;
display: none;
color:black;
border: 0.5rem ridge grey;
background-color: white;
font-size: 1rem;
padding: 0.25rem;
width: 80vh;
margin-top: 1rem;
}

label{
font-size: 2rem;
color: blanchedalmond;
}

input{
width:max-content;


}

.group{
    display: flex;
    flex-direction: column;
    border: 0.5rem ridge grey;
    width:max-content;
    padding: 0.5rem;
    margin-right: 1rem;

}

.group:hover{
    background-color: grey;

}

.inputs{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    
}

button{
margin-right: 1rem;
display: inherit;
font-size: 2rem;
color: blanchedalmond;
background-color: black;
border: 0.5rem ridge grey;
padding-left: 1rem;
padding-right: 1rem;
padding: 0.5rem;


}

button:hover{
    background-color: grey;

}
